/**
 * Breakpoints
 */
$breakpoints: (
        sm: 0px,
        md: 640px,
        lg: 1024px,
        xl: 1200px,
        xxl: 1440px
);

$display-font: Helvetica, Arial, sans-serif;
$body-font: Helvetica, Arial, sans-serif;

/**
 * Typography
 */


/* prettier-ignore */
$typography: (
        sm: (
                h1:    (fontSize: 40px, lineHeight: 1.3,  fontFamily: $display-font, fontWeight: bold),
                h2:    (fontSize: 32px, lineHeight: 1.3,  fontFamily: $display-font, fontWeight: bold),
                h3:    (fontSize: 26px, lineHeight: 1.3,  fontFamily: $display-font, fontWeight: bold),
                h4:    (fontSize: 20px, lineHeight: 30px, fontFamily: $display-font, fontWeight: bold),
                h5:    (fontSize: 18px, lineHeight: 29px, fontFamily: $display-font,    fontWeight: bold),
                h6:    (fontSize: 16px, lineHeight: 22px, fontFamily: $body-font,    fontWeight: bold),
                p:     (fontSize: 14px, lineHeight: 20px, fontFamily: $body-font,    fontWeight: normal),
                small: (fontSize: 12px, lineHeight: 18px, fontFamily: $body-font,    fontWeight: normal),
        ),
        md: (
                h1:    (fontSize: 56px, lineHeight: 1.4,  fontFamily: $display-font, fontWeight: bold),
                h2:    (fontSize: 40px, lineHeight: 1.3,  fontFamily: $display-font, fontWeight: bold),
                h3:    (fontSize: 32px, lineHeight: 1.3,  fontFamily: $display-font, fontWeight: bold),
                h4:    (fontSize: 24px, lineHeight: 38px, fontFamily: $display-font, fontWeight: bold),
                h5:    (fontSize: 20px, lineHeight: 31px, fontFamily: $display-font, fontWeight: bold),
                h6:    (fontSize: 18px, lineHeight: 30px, fontFamily: $body-font,    fontWeight: bold),
                p:     (fontSize: 16px, lineHeight: 26px, fontFamily: $body-font,    fontWeight: normal),
                small: (fontSize: 13px, lineHeight: 20px, fontFamily: $body-font,    fontWeight: normal),
        ),
);